<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
      
    <title>Additional Resources</title>
</head>
<body>





    <nav class="nav-extended">
              
        <div class="nav-wrapper">
          <div class="nav-left left">
            <a href="#!" class="brand-logo">AR[ ]</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>        
          <ul class="right hide-on-med-and-down">
            {{#if currentUser}}
              <li><a href="/logout">Logout {{currentUser.local.email}}</a></li>
            {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            {{/if}}  
            <li><a href="/profile">Profile</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            {{#if currentUser}}
              <li><a href="/logout">Logout {{currentUser.local.email}}</a></li>
            {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            {{/if}}  
            <li><a href="/profile">Profile</a></li>
          </ul>

        </div>

        <div class="nav-wrapper navpart-2">                
          <h1 class="center">
            <a class="header-ar center" href="/">
            <span class="bracket">{ </span>Additional Resources<span class="bracket"> }</span>
            </a>
          </h1>
        </div>

        <div class="nav-content">
          <ul class="">
            <li class="nav-bottom">
              <a href="/#">
      {{!-- 1. dropdown menu for search --}}
                <a id="navMenu1" class='dropdown-button searchBtn' href='#' data-activates='dropdown1'>Sort by:</a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="/search/videos">Videos</a></li>
                    <li><a href="/search/exercises">Exercises</a></li>
                    <li><a href="/search/both">Both</a></li>
                    <li class="divider"></li>
                    <li><a href="/resources">All</a></li>
                  </ul>
              </a>
            </li>
      {{!-- 2. dropdown for search: type --}}
            <li class="nav-bottom">
              <a class="active" href="#2">
                <a id="navMenu2" class='dropdown-button searchBtn' href='2' data-activates='dropdown2'>Find by type:</a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="/search/articles">Articles</a></li>
                    <li><a href="/search/lessons">Lessons</a></li>
                    <li><a href="/search/documentation">Documentation</a></li>
                    <li><a href="/search/podcasts">Podcasts</a></li>
                    <li><a href="/search/lectures">Lectures</a></li>
                  </ul>                
              </a>
            </li>

      {{!-- 3. nav tab tbd --}}
            <li class="nav-bottom"><a href="#test3">
              
              </a>
            </li>

      {{!-- 4. nav tab tbd --}}
            <li class="nav-bottom">

            </li>
          </ul>
          
    {{!-- search bar: --}}
          <div class="searchBox">
            <input action="/search" class="searchBoxInput" type="text" placeholder="Search site">

          </div>

        </div>
      </nav>

    <main class="container">
        {{{body}}}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="/assets/main.js"></script>
</body>
</html>

{{!--  --}}


