{{#if resource}}

<main class="container">
    <h2>{{resource.name}}</h2>
    <p>{{resource.subject}}</p>
    <p>{{resource.type}}</p>
    <p>{{resource.videos}}</p>
    <p>{{resource.exercises}}</p>
    <p>{{resource.votes}}</p>

{{else}}
    <h2>Couldn't find resource page.</h2>
{{/if}}
</main>
