  <table class="z-depth-5 highlight">
    <thead>
          <tr>
              <th class="center">Rating</th>
              <th class="center">Name</th>
              <th class="center">Subject</th>
              <th class="center">Website</th>
          </tr>
      </thead>
      <tbody>
        {{#each resources as |resource index|}}
        <tr>
          <td>
            <div class="votes">{{resource.votes}}</div>
          </td>
          <td>
            <h4>
              <a href="/resources/{{resource.name}}">{{resource.name}}</a> 
            </h4>    
          </td>
          <td>
            {{resource.subject}} 
          </td>
          <td>
            <a href="{{resource.url}}">{{resource.url}}</a>
          </td>
        </tr>
    {{/each}}
    </tbody>
  </table>

<h2 class="text-shadow center">Upload Additional Resources</h2>
<form action="/resources" method="post">
    <input type="text" name="resource[name]" placeholder="Title" />
    <input type="text" name="resource[subject]" placeholder="Subject" />
    <input type="text" name="resource[url]" placeholder="Website Url" />
    <input type="text" name="resource[Type]" placeholder="Lesson, Article, Lecture, Documentation, Podcast, etc." />
    <input type="text" name="resource[videos]" placeholder="Videos? (Yes/No)" />
    <input type="text" name="resource[exercises]" placeholder="Exercises? (Yes/No)" />


    <input class="z-depth-5 submit" type="submit" value="Upload Resource" />
</form>
