{{#if resource}}

<table class="z-depth-5 highlight">
    <thead>
          <tr>
            <th class="tableSingle"><div class="name"><h2>{{resource.name}}</h2></div></th>
              {{!-- <th class="center">Rating</th>
              <th class="center">Name</th>
              <th class="center">Subject</th>
              <th class="center">Website</th> --}}
          </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="url">
            <a href="{{resource.url}}"><h4>{{resource.url}}</h4></a>
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="subject">{{resource.subject}}</div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="type">{{resource.type}}</div>
        </td>       
      </tr>
      <tr>
        <td>
          <div class="videos">{{resource.videos}}</div>
        </td>  
      </tr>
      <tr>
        <td>
          <div class="exercise">{{resource.exercises}}</div>
        </td>  
      </tr>
      <tr>
        <td class="voteButton">
          <button id="voteUp">Like</button>
          <button id="voteDown">Dislike</button>
          <div class="votes">{{resource.votes}}</div>
        </td>  
      </tr>

    </tbody>
  </table>


{{else}}
    <h2>Couldn't find resource page.</h2>
{{/if}}

<h2 class="text-shadow center">Update This Resource</h2>
<form class="" action="/resources/{{resource.name}}?_method=put" method="post">
  
  <input class="input-field row center" type="input" name="resource[name]" placeholder="Name" value="{{resource.name}}">
  <input class="input-field row center" type="input" name="resource[subject]" placeholder="Subject" value="{{resource.subject}}">
  <input class="input-field row center" type="input" name="resource[type]" placeholder="Lesson, Article, Lecture, Documentation, Podcast, etc" value="{{resource.type}}">
  <input class="input-field row center" type="input" name="resource[videos]" placeholder="Videos? (Yes/No)" value="{{resource.videos}}">
  <input class="input-field row center" type="input" name="resource[exercises]" placeholder="Exercises? (Yes/No)" value="{{resource.exercises}}">

  <input class="z-depth-5 submit updateButton" type="submit" value="Edit Submission">
</form>


<form action="/resources/{{resource.name}}?_method=delete" method="post">
  <input class="deleteButton submit" type="submit" value="Remove">
</form>

{{!--  --}}
