{{#if resource}}

{{!-- hide table for mobile --}}

<table class="fullscreen z-depth-5 highlight">
    <thead>
          <tr>
            <th class="tableSingle"><div class="name">
              <h2>{{resource.name}}</h2></div>
            </th> 
          </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="infoRow url">
            <a href="{{resource.url}}"><h4>{{resource.url}}</h4></a>
          </div>
        </td>        
      </tr>
      <tr>
        <td class="infoRow">

          {{!-- <div class="wholeRow subject"> --}}
            <p class="singleInfo">
              <span class="singleDesc">Subject:</span>
              {{resource.subject}}
           </p>
          {{!-- </div> --}}
        </td>        
      </tr>
      <tr>
        
        <td class="infoRow">
          <div class="wholeRow type">
            <p class="singleInfo">
              <span class="singleDesc">Type:</span>
              {{resource.type}}
           </p>
          </div>
        </td>       
      </tr>
      <tr>

        <td class="infoRow">
          <div class="wholeRow videos">
            <p class="singleInfo">
              <span class="singleDesc">Videos:</span>
              {{resource.videos}}
            </p>
          </div>
        </td>  
      </tr>
      <tr>

        <td class="infoRow">
          <div class="wholeRow exercise">
            <p class="singleInfo">
              <span class="singleDesc">Exercises:</span>
              {{resource.exercises}}
           </p>
          </div>
        </td>  
      </tr>
      <tr>
        <td class="infoRow">
          <div class="center">
            <button id="voteUp" class="voteButton z-depth-3">Like</button>
            <button id="voteDown" class="voteButton z-depth-3">Dislike</button>
          </div>
          <div class="votes">{{resource.votes}}</div>

        </td>  
      </tr>

    </tbody>
  </table>

{{!-- show block cards for mobile --}}
<div class="showMobile">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <h4>
              {{resource.name}} 
            </h4> 
          <p>{{resource.subject}}</p>
          <p>{{resource.type}}</p>

{{!-- * only display each if present * {{#if this videos="Yes"}} --}}
          <p>Videos <span>:</span> {{resource.videos}}</p>
          <p>Exersices <span>:</span> {{resource.exercises}}</p>
{{!-- {{/if}} --}}
        </div>

            <div class="card-action">
              <a href="{{resource.url}}">{{resource.url}}</a>
            </div>
      </div>
    </div>
  </div>
</div>

{{!--  --}}

<h2 class="text-shadow center">Update This Resource</h2>
<form class="col s12 m6" action="/resources/{{resource.name}}?_method=put" method="post">
  
  <input class="input-field row center" type="text" name="resource[name]" placeholder="Name" value="{{resource.name}}">
  <input class="input-field row center" type="text" name="resource[subject]" placeholder="Subject" value="{{resource.subject}}">
{{!--  --}}
  <input class="input-field row center" type="text" name="resource[url]" placeholder="Website" value="{{resource.url}}">

{{!--  --}}

    <select class="input-field row selections-box" name="resource[type]" >
      <option value="" disabled selected>What type of resource is this?:</option>
      <option placeholder="Lesson" value="Lesson">Lesson</option>
      <option placeholder="Article" value="Article">Article</option>
      <option placeholder="Lecture" value="Lecture">Lecture</option>
      <option placeholder="Documentation" value="Documentation">Documentation</option>
      <option placeholder="Podcast" value="Podcast">Podcast</option>
    </select>
{{!--  --}}

    <select class="input-field row selections-box" name="resource[videos]">
      <option value="" disabled selected>Videos?</option>
      <option placeholder="Yes" value="Yes">Yes</option>
      <option placeholder="No" value="No">No</option>
    </select>

  {{!--  --}}

    <select class="input-field row selections-box" name="resource[exercises]">
      <option value="" disabled selected>Exercises?</option>
      <option placeholder="Yes" value="Yes">Yes</option>
      <option placeholder="No" value="No">No</option>
    </select>

{{!--  --}}
<div class="center">
  <input class="z-depth-5 submit updateButton" type="submit" value="Edit Submission">
</div>
</form>


<form action="/resources/{{resource.name}}?_method=delete" method="post" class="center">
  <input class="deleteButton submit" type="submit" value="Remove">
</form>

{{!-- </div> --}}

{{else}}
    <h2 class="h2404">Couldn't find resource page.</h2>
    <div class="img404"></div>
{{/if}}

